    form { 
        border: 3px solid black; 
        margin-right: 400px;
        margin-left: 400px;
        margin-top: 300px;
        margin-bottom: 300px;
        background-color: #ffffff;
        border-style: inset;
        border-radius: 15px;
    }
    input[type=email],input[type=password] {
        width: 100%; 
        display: inline-block; 
        border: 1.5px solid black; 
        text-align: left;
        border-radius: 1px;
        height:35px;
    } 
    button { 
        text-align: center;
        background-color: green; 
        color: white; 
        border: 2px black; 
        padding: 10px 300px;
  		cursor: pointer; 
        background-size: 40px;
        border-radius: 5px;
        height:50px;
        
    } 
    .title { 
        text-align: center;
        background-color: lightblue; 
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;    
        border-radius: 5px;
    }
    .details{
        text-align: center;
        background-color: #ffffff;
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 10px;
        
    } 
    .or{
        text-align: center;
        background-color: #ffffff;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .signin{
        margin-right: 40px;
        margin-left: 40px;

    }
   